html, body {
  width: 100%;
  height: 100%;
}

.title {
  width: 30rem;
  margin: auto;
  height: 50px;
  background-color: crimson;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.title h2 {
  margin: 0;
}
.nav {
  width: 30rem;
  margin: auto;
}

.nav-link {
  color: black;
}

.card {
  width: 30rem;
  margin: auto;
  margin-bottom: 1rem;
}

input {
  width: 100%;
}